.button-login {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 3rem;
}

@media (min-width: 768px) {
    .button-login {
        order: 3;
    }
}