.banner {
    color: var(--white);
    height: 15rem;
}
.banner__content {
    padding-left: 1rem;
    padding-top: 6.5rem;
    line-height: 2rem;
}
.banner__image {
    background: linear-gradient(rgba(0,0,0,0) 41.15%, rgba(0,0,0,.8)100%), url(../../images/banner-image.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

@media (min-width: 768px) {
    .banner{
        height: 21rem;
    }
    .banner__content {
        padding-left: 2rem;
        padding-top: 9rem;
    }
}

@media screen and (min-width: 1200px) {
    .banner{
        height: 25rem;
    }
    .banner__content {
        padding-left: 8rem;
        padding-top: 12rem;
        
    }
}
    