.footer {
    background-color: var(--light-blue);
}
.footer__aboutUs{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 3rem;
    margin-bottom: 2rem;
    padding: 0 7rem;
    text-align: center;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    
}
.footer__contact h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2rem;
}
.contact__field{
    padding: 1rem 2rem;
    position: relative;
}
.contact__field label{
    font-size: 1.3rem;
    font-weight: 200;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
}
.contact__field input{
   height: 5rem;
}
.contact__field input,
.contact__field textarea{
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3rem 0 .5rem .5rem;
    width: 100%;
}
.contact__button {
    background-color: var(--blue);
    color: var(--white);
    height: 3rem;
    padding: 0.5rem 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
} 
.footer__developer{
    background-color: var(--white);
    line-height: 2rem;
    font-size: 1.4rem;
    padding: 3rem;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    .footer__aboutUs{
        justify-content: start;
        padding: 2rem 0 0 2rem;
        text-align: left;
        width:50%;
    }
    .footer__contact{
        padding-top: 2rem;
        width:50%;
    }
    .footer__logo{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .footer{
        justify-content: space-around;
    }
    .footer__aboutUs {
        flex-direction: row;
    }
    .footer__logo {
        align-self: flex-start;
        margin-right: 2rem;
    }
}
    
.invalid{
    border: 1px solid var(--invalid-input);
    box-shadow: inset 0 0 10px var(--invalid-input);
    margin-bottom: 0.5rem;
}
.error {
    color: var(--invalid-input);
    font-size: 1.2rem;
    font-weight: 700;
}